@model SalePoint.Models.BuyingSessionModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Products Session</h1>

<div class="col-md-6">
    <h3>Disponible Products</h3>
    <table class="table table-responsive">
        <tr>
            <th>
                Product Id
            </th>
            <th>
                Product Description
            </th>
            <th>
                Product Price
            </th>
            <th>
                Category Description
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.disponibleProductsList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.productId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.productDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.productPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.categoryDescription)
                </td>
                <td>
                    @Html.ActionLink("Add Product", "AddProduct", new { id = item.productId })
                </td>
            </tr>
        }

    </table>

</div>

<div class="col-md-6">
    <h3>Buying Session</h3>

    <table class="table table-responsive">
        <tr>
            <th>
                Product Id
            </th>
            <th>
                Product Description
            </th>
            <th>
                Product Price
            </th>
            <th>
                Category Description
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.sessionProductsListlist)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.productId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.productDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.productPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.categoryDescription)
                </td>
                <td>
                    @Html.ActionLink("Remove Product", "RemoveProduct", new { id = item.productId })
                </td>
            </tr>
        }

    </table>
</div>

<div class="clearfix"></div>

<div class="row">
    <div class="col-md-3">
        <h4>Total Value: @Html.DisplayFor(model => model.totalValue)</h4>
    </div>
</div>
<div class="row">
    <div class="divPayment col-md-3">
        <h3 class="panel-title">Payment Method:</h3>
        @Html.DropDownListFor(model => model.paymentId, (SelectList)ViewBag.PaymentMethodModel, "Selecione...", new { @class = "form-control", @required = "required" })
        <p class="btnClose">
            @Html.ActionLink("Close Buying Session", "CloseBuyingSession")
        </p>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12">
        <button class="btn-success btnFinish" onclick="finishBuying()">FINISH BUYING</button>
        
    </div>
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('.divPayment').hide();
        $('.btnClose').hide();
        $('.btnFinish').show();
        var msg = '@ViewBag.Script';
        if (msg != '') {
            alert(msg);
        }
    });

    function finishBuying() {
        $('.divPayment').show();
        $('.btnClose').show();
        $('.btnFinish').hide();
    }
</script>

